[submodule "vim/.vim/pack/default/start/gruvbox"]
	path = vim/.vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/.vim/pack/default/start/fzf.vim"]
	path = vim/.vim/pack/default/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/.vim/pack/default/start/fzf"]
	path = vim/.vim/pack/default/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/.vim/pack/default/start/vim-fugitive"]
	path = vim/.vim/pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/pack/default/start/vim-commentary"]
	path = vim/.vim/pack/default/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/pack/default/start/vimwiki"]
	path = vim/.vim/pack/default/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "vim/.vim/pack/default/start/vim-table-mode"]
	path = vim/.vim/pack/default/start/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "vim/.vim/pack/default/start/vim-surround"]
	path = vim/.vim/pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/pack/default/start/vim-repeat"]
	path = vim/.vim/pack/default/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/.vim/pack/default/start/coc.nvim"]
	path = vim/.vim/pack/default/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/.vim/pack/default/start/lightline.vim"]
	path = vim/.vim/pack/default/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
